<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">

  <img  src="http://localhost:8000/images/user/default.jpg";  width="50px"; height="50px";>  </img>
  <h4 >Dear Sir</h4>
  </br>
  <div style="margin: 0 auto; width: 90%; text-align: left; margin-left: 10px;">
    

    <h4 >{{title}}</h4>
  </br>


    
      <h3 style="margin-bottom: 100px; font-size: 24px;">{{otp}}</h3>
    </br>
  </br>

</br>
      <h3 >Do not share your otp with anyone</h3>
</br>
</br>

      <h3 >Warm Regards,</h3>
    </br>
    <h3>SidInsta Team</h3>
      
    
  </div>
</div>
</body>
</html>